.path {
    display: flex;
    gap: 0 5px;
    margin-bottom: 20px;
    padding-top: 20px;
    a {
        color: #000;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .link1::after {
        content: ">";
        color: var(--Color---3, #0156FF);
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-left: 5px;
    }
}
.title {
    color: #000;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 20px;
}
.authorization {
    display: flex;
    gap: 0 34px;
    justify-content: center;
    @media (max-width:1200px) {
        flex-direction: column;
        align-items: center;
        gap: 30px 0;
    }
    @media (max-width:620px) {
        text-align: center;
    }

    .login {
        width: 564px;
        min-height: 460px;
        background: var(--Color---1, #F5F7FF);
        padding: 40px 60px;
        @media (max-width:620px) {
            width: 400px;
        }
        @media (max-width:440px) {
            width: 320px;
            padding: 40px 30px;
        }
      
        .login__info1 {
            color: #000;
            font-family: Poppins;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin-bottom: 10px;
        }
        .login__info2 {
            color: var(--Color---7, #000);
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: 30px; 
            margin-bottom: 10px;
        }
        form {
            display: flex;
            flex-direction: column;
            label {
                color: var(--Color---7, #000);
                font-family: Poppins;
                font-size: 13px;
                font-style: normal;
                font-weight: 600;
                line-height: 210%; 
                margin-bottom: 10px;
            }
            .input__wrapper {
                min-height: 100px;
                .error {
                    color: red;
                }
            }
            input {
                color: #000;
                font-family: Poppins;
                font-size: 14px;
                font-style: normal;
                font-weight: 300;
                line-height: 20px; 
                width: 449px;
                padding: 20px;
                border-radius: 4px;
                border: 1px solid var(--Color---5, #A2A6B0);
                background: #FFF;
                @media (max-width:620px) {
                    width: 300px;
                    text-align: center;
                    margin: 0 auto 30px auto;
                }
                @media (max-width:440px) {
                    padding: 10px;
                    width: 239px;
                }
                &::placeholder {
                    color: var(--Color---5, #A2A6B0);
                }
            }
            .signIn {
                position: relative;
                display: flex;
                align-items: center;
                gap: 0 20px;
                @media (max-width:620px) {
                    flex-direction: column;
                    gap: 10px 0;
                }
                .loginError {
                    position: absolute;
                    top: -23px;
                    left: 0;
                    color: red;
                }
                span {
                    color: var(--Color---10, #666);
                    font-family: Poppins;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }
        .loginBtn {
            color: #FFF;
            text-align: center;
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            border-radius: 50px;
            background: var(--Color---3, #0156FF);
            padding: 15px 45px;
            transition: 0.3s ease;
            &:hover {
                opacity: 0.7;
            }
        }
    }
    .registration {
        width: 564px;
        height: 460px;
        background: var(--Color---1, #F5F7FF);
        padding: 40px 60px;
        @media (max-width:1200px) {
            text-align: center;
        }
        @media (max-width:620px) {
            width: 400px;
            height: 350px;
        }
        @media (max-width:440px) {
            width: 320px;
        }
        .reg__info1 {
            color: #000;
            font-family: Poppins;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin-bottom: 10px;
        }
        .reg__info2 {
            color: var(--Color---7, #000);
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: 30px; 
            margin-bottom: 10px;
        }
        ul {
            display: flex;
            flex-direction: column;
            gap: 7px 0;
            padding-left: 18px;
            margin-bottom: 36px;
            @media (max-width:1200px) {
                list-style: none;
                padding-left: 0px;
            }
          
            li {
                color: var(--Color---7, #000);
                font-family: Poppins;
                font-size: 14px;
                font-style: normal;
                font-weight: 300;
                line-height: 20px; 
               
            }
        }
        .btn {
            color: #FFF;
            text-align: center;
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            border-radius: 50px;
            background: var(--Color---3, #0156FF);
            padding: 15px 40px;
            transition: 0.3s ease;
            @media (max-width:440px) {
                padding: 15px 20px;
            }
            &:hover {
                opacity: 0.7;
            }
        }
    }
}
.signIn__wrapper {
    position: relative;
    img {
        max-width: 25px;
        position: absolute;
        top: 13px;
        left: 13px;
    }
    .signInWithGoogleBtn {
        color: #FFF;
        text-align: center;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        border-radius: 50px;
        background: var(--Color---3, #bbbbbb);
        padding: 15px 45px;
    }

}

