
.title {
    color: #000;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 21px;
    @media (max-width:560px) {
        font-size: 16px;
        text-align: center;
    }
}
.follow__list {
    display: grid;
    grid-template-columns: repeat(6, 225px);
    gap: 20px 10px;
    @media (max-width:1430px) {
        grid-template-columns: repeat(5, 225px);
        justify-content: center;
    }
    @media (max-width:1200px) {
        grid-template-columns: repeat(4, 225px);
    }
    @media (max-width:960px) {
        grid-template-columns: repeat(3, 225px);
    }
    @media (max-width:730px) {
        grid-template-columns: repeat(2, 225px);
    }
    @media (max-width:490px) {
        grid-template-columns: repeat(1, 225px);
    }
}
