.root {
    margin-bottom: 60px;
    img {
        max-width: 235px;
        margin-bottom: 10px;
    }
    .description {
        color: #000;
        text-align: center;
        margin: 0 auto;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        max-width: 185px;
        margin-bottom: 10px;
        min-height: 140px;
    }
    .date {
        color: var(--Color---5, #A2A6B0);
        text-align: center;
        font-family: Poppins;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}