.root {
    position: absolute;
    bottom: -158px;
    z-index: 10;
    width: 1000px;
    display: flex;
    background: var(--Color---1, #F5F7FF);
    align-items: center;
    padding: 20px;
    gap: 0 30px;
    cursor: pointer;
    min-height: 144px;
    @media (max-width:1200px) {
        width: 700px;
    }
    @media (max-width:900px) {
        width: 500px;
    }
    @media (max-width:700px) {
        width: 400px;
    }
    @media (max-width:670px) {
        min-height: 100px;
        width: 260px;
        padding: 10px;
        z-index: 50;
        bottom: -130px;
        border-radius: 20px;
    }
    @media (max-width:460px) {
        width: 200px;
        max-height: 70px;
        min-height: 70px;
        bottom: -90px;
    }
    img {
        max-width: 100px;
        @media (max-width:670px) {
            max-width: 50px;
        }
    }
    p {
        color: var(--Color---7, #000);
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; 
        @media (max-width:670px) {
            font-size: 10px;
            max-width: 100px;
            
    
        }
    }
    .price {
        @media (max-width:460px) {
            display: none;
        }
    }
    .rating {
        display: flex;
        margin-bottom: 10px;
        position: relative;
        .star {
            width: 13px;
            height: 13px;
        }
        div {
            position: absolute;
        }
    }
}