.wrapper {
    margin: 0 auto;
}
.root {
    padding-top: 20px;
    :global {
        .swiper-button-prev::after {
            content: "";
            position: absolute;
            width: 46px;
            height: 80px;
            background-image: url("../../assets/carousel/prevBtn.svg") !important;
        }
        .swiper-button-next::after {
            content: "";
            position: absolute;
            width: 46px;
            height: 80px;
            background-image: url("../../assets/carousel/nextBtn.svg") !important;
        }
    }
    img {
        max-width: 100%; 
        min-height: 328px;
    }
}