.searchInput {
    @media (max-width:670px) {
        display: none;
    }
    position: relative;
    input {
        border-radius: 31px;
        background: var(--Color---1, #F5F7FF);
        padding: 20px 60px 20px 20px;
        width: 1126px;
        font-family: Poppins;
        font-size: 14px;
        @media (max-width:1410px) {
            width: 1000px;
        }
        @media (max-width:1280px) {
            width: 700px;
        }
        @media (max-width:1050px) {
            width: 400px;
        }
        @media (max-width:750px) {
            width: 300px;
        }
       
    }
    .searchInput__img {
        position: absolute;
        top: 22px;
        right: 20px;
        cursor: pointer;
    }
}