.root {
    position: relative;
    padding: 25px 25px;
    cursor: pointer;
    min-height: 290px;
    max-height: 234px;
    display: flex;
    flex-direction: column;

    &::before {
        content: "in stock";
        color: #78A962;
        text-align: center;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 210%; 
        position: absolute;
        top: 0;
        left: 50px;
       
    }
    .checkMark {
        position: absolute;
        width: 12px;
        height: 12px;
        top: 7px;
        left: 32px;
    }
    .goodImg {
        max-width: 150px;
        margin-bottom: 10px;
        min-height: 150px;
        text-align: center;
        margin: 0 auto 15px auto;
    }
    .rating {
        display: flex;
        margin-bottom: 10px;
        position: relative;
        .star {
            width: 13px;
            height: 13px;
        }
        div {
            position: absolute;
        }
    }
    .name {
        color: #000;
        font-family: Poppins;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 10px;
        text-align: start;
        min-height: 40px;
    }
    .price {
        color: #000;
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        text-align: start;
    }
}